<div class='panel panel-default'>
  <div class='panel-heading'>Settings</div>
  <div class='panel-body'>
    <table class='table'>
      <tr>
        <th>Component</th>
        <th>Provider</th>
        <th>Preview</th>
        <th></th>
      </tr>
      {{#each settings.components as |component|}}
        <tr>
          <td>{{component.name}}</td>
          <td>
            <b>{{component.provider.name}}: </b>
            <span>{{component.provider.description}}</span>
          </td>
          <td>
            <div id='component-preview-{{component.id}}' class='component-preview' data-id='{{component.id}}' data-name='{{component.name}}' data-public-path='{{component.publicPath}}'></div>
          </td>
          <td>
            <button class='btn btn-default btn-sm' type='button'>
              <span class='glyphicon glyphicon-remove'></span> Remove
            </button>
            <a href='#'>
              
            </a>
          </td>
        </tr>
      {{/each}}
    </table>

  </div>
</div>
